<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{#if title }}
        <title>{{site.title}} - {{title}}</title>
    {{else}}
        <title>{{site.title}}</title>
    {{/if}}
    {{#if description }}
        <meta name="description" content="{{description}}">
    {{else}}
        <meta name="description" content="{{site.description}}">
    {{/if}}
        <link rel="stylesheet" href="/assets/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

</head>

<body>
